*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    cursor: default;
}

a{
    text-decoration: none;
}

body{
    background-color: #F9F9F9;
}

header{
    height: 100px;
    width: 100%;
    display: grid;
    grid-template: 90% / 22% 41% 16% 16%;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.header-input-box{
    padding: 0px 20px;
    height: 50px;
    border: 1px solid #B7BCC0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-input{
    height: 100%;
    width: 95%;
    font-size: 1.125em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: rgba(18, 33, 45, 0.7);
    border: 0px;
    outline: none;
}

.header-account-cont, .header-num-cont{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-info-cont{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    z-index: 5;
}

.header-num-cont .header-info-cont:nth-child(1){
    border-right: 2px solid #B7BCC0;
}

.number-box, .account-box{
    top: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
    display: grid;
    align-content: flex-end;
    justify-content: center;
    position: absolute;
    background-color: #fff;
    transition: all .4s linear;
    z-index: 2;
    overflow: hidden;
}

.info-link{
    width: fit-content;
    border-bottom: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    transition: all .4s linear;
}

.info-link:hover{
    border-color: #5d5d5d;
    color: #5d5d5d;
}

.header-num, .header-account{
    display: flex;
    justify-content: center;
    font-size: 0.875em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.header-num{
    width: 70%;
}

.header-account{
    width: 80%;
}

.header-triangle{
    font-size: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    transform: rotate(180deg);
    transition: all .4s linear;
}

.header{
    height: 70px;
    width: 100%;
    display: grid;
    grid-template: 100%/ 75% 20%;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(209, 44, 55) 0% 80%, rgb(231, 91, 101));
}

.header-links{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: 100% / 13% 16% 13% 18% 13% 13%;
}

.header-link{
    border-bottom: 3px solid transparent;
    font-size: 0.875em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;
    color: #fff;
    transition: all .4s linear;
}

.header-link:nth-child(1){
    border-color: #fff;
}

.header-link:hover{
    border-color: #fff;
}

.header-buy{
    justify-self: flex-end;
    height: 100%;
    width: 40%;
    display: grid;
    align-content: flex-end;
    grid-template: 40px 20px / 30% 70%;
    position: relative;
}

.buy-korz{
    align-self: center;
    justify-self: center;
}

.buy-info{
    display: grid;
    justify-content: center;
    z-index: 1;
}

.buy-tittle{
    font-size: 0.75em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.buy-balance{
    font-size: 0.875em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.buy-counter{
    top: 25%;
    left: 20%;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.4375em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #9E9E9E;
    position: absolute;
}

.buy-btn-cont{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 90%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: all .4s linear;
    cursor: pointer;
}

.buy-btn-cont:hover{
    background-color: #e1e1e1;
}

.buy-button{
    font-size: 0.6875em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #12212D;
}

main{
    display: grid;
    row-gap: 50px;
}

.main-top{
    height: 500px;
    width: 100%;
    display:grid;
    grid-template: 450px / 27% 66%;
    column-gap: 2%;
    justify-content: center;
    align-content: flex-end;
}

.main-links{
    padding-top: 30px;
    border-radius: 2px;
    display: grid;
    grid-template: repeat(8,50px) / 100%;
    justify-content: center;
    background-color: #fff;
}

.main-links-tittle{
    padding-left: 10%;
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #705658;
}

.main-link{
    padding-left: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.875em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #12212D;
    position: relative;
    transition: all .4s linear;
    cursor: pointer;
}

.main-link:hover{
    background-color: rgb(255, 245, 246);
}

.main-link:nth-child(6){
    background-color: rgb(251,235,236);
}

.main-link:nth-child(6)::before{
    content: " ";
    left: 0;
    height: 100%;
    width: 5px;
    border-radius: 0px 5px 5px 0px;
    background-color: #D93C47;
    position: absolute;
}

.main-image{
    height: 100%;
    width: 100%;
    border-radius: 2px;
}

.best, .new, .discount{
    justify-self: center;
    height: 450px;
    width: 95%;
    display: grid;
    align-content: center;
    justify-content: space-between;
    grid-template: 60px 290px / repeat(4, 24%);
}

.new{
    height: 530px;
}

.best-tittle{
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #705658;
}

.best-card{
    border-radius: 2px;
    display: grid;
    grid-template: 12.5% 50% 15% 12.5% / repeat(2, 45%);
    grid-template-areas: 
    "nal nal"
    "img img"
    "tittle tittle"
    "price button"
    ;
    align-content: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
}

.card-nal{
    grid-area: nal;
    display: flex;
    align-items: center;
    font-size: 0.875em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.card-nal-y{
    color: #4DA455;
}

.card-nal-n{
    color: #D0021B;
}

.card-img{
    grid-area: img;
    height: 100%;
    width: 100%;
}

.card-tittle{
    grid-area: tittle;
    display: flex;
    align-items: center;
    font-size: 0.875em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: rgba(18, 33, 45, 0.7);
}

.card-price{
    padding-left: 45px;
    display: flex;
    align-items: center;
    font-size: 0.875em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #705658;
    position: relative;
}

.card-price::before{
    content: "Цена";
    left: 0;
    position: absolute;
    color: rgba(18, 33, 45, 0.7);
}

.card-button{
    justify-self: flex-end;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #DC434E;
    border-radius: 3px;
    color: #DC434E;
    transition: all .4s linear;
    cursor: pointer;
}

.card-button:hover{
    color: #fff;
    background-color: #DC434E;
}

.news{
    justify-self: center;
    height: 270px;
    width: 95%;
    display: grid;
    grid-template: 100% / repeat(2, 48%);
    justify-content: space-between;
}

.news-card{
    display: grid;
    grid-template: 32% repeat(2, 26%) / 40% 50%;
    align-content: center;
    justify-content: center;
    background-color: #E8E8E8;
}

.news-tittle{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 70%;
    font-size: 1.875em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #705658;
}

.news-price{
    display: flex;
    align-items: center;
    font-size: 1.875em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.news-info-cont{
    align-self: center;
    height: 50px;
    width: 80%;
    border: 2px solid rgb(220,67,77);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(220,67,77);
    cursor: pointer;
    transition: all .4s linear;
}

.news-info-cont:hover{
    background-color: transparent;
}

.news-info-cont:hover .news-info{
    color: rgb(220,67,77);
}

.news-info{
    font-size: 0.875em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    transition: all .4s linear;
}

.news-image{
    align-self: center;
    justify-self: flex-end;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 100%;
    width: 70%;
}

.about{
    height: 500px;
    justify-self: center;
    width: 95%;
    display: grid;
    align-content: center;
    row-gap: 20px;
}

.about-tittle{
    font-size: 1.875em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #705658;
}

.about-info{
    font-size: 1em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    color: rgba(18, 33, 45, 0.7);
}

footer{
    height: 250px;
    display: grid;
    grid-template: 85% / 20% 13% 15% 15% 25%;
    column-gap: 2%;
    align-content: center;
    justify-content: center;
    background-color: #C02336;
}

.footer-info{
    display: grid;
}

.footer-desc{
    font-size: 0.875em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
}

.footer-links-cont{
    display: grid;
    align-content: flex-start;
    row-gap: 20px;
}

.footer-links{
    display: grid;
    row-gap: 2px;
}

.footer-text-tittle{
    font-size: 1.125em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.footer-text{
    width: fit-content;
    font-size: 0.875em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    color: #fff;
}

.footer-social{
    display: grid;
    row-gap: 20px;
    align-content: flex-start;
}

.footer-icon-cont{
    width: 70%;
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.footer-icon{
    width: 35px;
}

.footer-lastInfo{
    display: grid;
    align-content: flex-start;
    row-gap: 20px;
}

.footer-input-cont{
    display: flex;
    justify-content: space-between;
}

.footer-input{
    height: 40px;
    width: 45%;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 0.875em;
    font-weight: 400;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: #E8E8E8;
    outline: none;
}

.footer-input::placeholder{
    color: #E8E8E8;
}

.footer-button{
    height: 40px;
    width: 50%;
    border: 1px solid #fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 400;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    transition: all .4s linear;
}

.footer-button:hover{
    border-color: #000;
    color: #000;
}

.footer-last-tittle{
    font-size: 0.875em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.footer-last-text{
    font-size: 0.875em;
    font-weight: 400;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    color: #E3E3E3;
}